Flask
Flask-CORS
pyngrok
loguru
pymupdf
langchain
langchain-openai
tiktoken
sentence-transformers
accelerate
chromadb
torch
numpy
pdfplumber
pdf2image
pytesseract
opencv-python-headless
Pillow
huggingface_hub
python-dotenv
openai
python-docx
openpyxl
python-pptx
jupyter
nbclient
