Flask
Flask-CORS
pyngrok
pymupdf
loguru
langchain
tiktoken
sentence-transformers
accelerate
chromadb
torch
numpy
pdfplumber
pdf2image
pytesseract
opencv-python-headless
Pillow
huggingface_hub
python-dotenv
openai
langchain-openai
python-docx
openpyxl
python-pptx
